In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('exam_result2.csv')

In [22]:
df.sample(5)

,Unnamed: 0,result_id,student_id,exam_type,department,subject_scores,pass_or_fail
129,129,NaN,130,WASSCE,Arts,"{'English': 53, 'Literature in English': 51, '...",Fail
366,366,NaN,367,WASSCE,Commercial,"{'Financial Accounting': 64, 'Commerce': 73, '...",Fail
94,94,NaN,95,WASSCE,Arts,"{'English': 43, 'Literature in English': 67, '...",Fail
228,228,NaN,229,WASSCE,Commercial,"{'Financial Accounting': 52, 'Commerce': 48, '...",Fail
463,463,NaN,464,WASSCE,Commercial,"{'Financial Accounting': 49, 'Commerce': 62, '...",Fail

In [23]:
import ast
df['subject_scores'] = df['subject_scores'].apply(ast.literal_eval)

In [8]:
# # Convert subject_scores from JSON string to a dictionary
# import json
# df['subject_scores'] = df['subject_scores'].apply(json.loads)

In [9]:
df.sample(2)

,result_id,student_id,exam_type,department,subject_scores,pass_or_fail
73,NaN,74,WASSCE,Science,"{'Mathematics': 48, 'English': 83, 'Physics': ...",Fail
202,NaN,203,WASSCE,Commercial,"{'Financial Accounting': 49, 'Commerce': 59, '...",Pass

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   result_id       0 non-null      float64
 1   student_id      500 non-null    int64
 2   exam_type       500 non-null    object
 3   department      500 non-null    object
 4   subject_scores  500 non-null    object
 5   pass_or_fail    500 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 23.6+ KB

In [24]:
sci_students_df = df[df['department'] == 'Science']
arts_students_df = df[df['department'] == 'Arts']
comm_students_df = df[df['department'] == 'Commercial']

In [25]:
sci_students_df['pass_or_fail'].value_counts()

pass_or_fail
Fail    44
Pass    39
Name: count, dtype: int64

In [26]:
arts_students_df['pass_or_fail'].value_counts()

pass_or_fail
Fail    72
Pass    47
Name: count, dtype: int64

In [27]:
comm_students_df['pass_or_fail'].value_counts()

pass_or_fail
Fail    206
Pass     92
Name: count, dtype: int64

In [11]:
comm_students_df = df[df['department'] == 'Commercial']

In [12]:
comm_students_df.sample()

,result_id,student_id,exam_type,department,subject_scores,pass_or_fail
480,NaN,481,WASSCE,Commercial,"{'Financial Accounting': 44, 'Commerce': 64, '...",Fail

In [16]:
# Check the passing condition for Arts department directly in the DataFrame
def check_pass_fail(row):
    subject_scores = row['subject_scores']  # This is a dictionary
    # Check the passing conditions
    if (
        subject_scores.get("English Language", 0) >= 50 and
        subject_scores.get("Mathematics", 0) >= 50 and
        subject_scores.get("Financial Accounting", 0) >= 50 and
        subject_scores.get("Commerce", 0) >= 50 and
        subject_scores.get("Economics", 0) >= 50):
        return "Pass"
    else:
        return "Fail"

# Apply the check_pass_fail function to each row
comm_students_df['pass_or_fail'] = comm_students_df.apply(check_pass_fail, axis=1)

# Optionally, print the updated DataFrame
print(comm_students_df[['student_id', 'pass_or_fail']])  # Replace with columns you want to see

     student_id pass_or_fail
202         203         Fail
203         204         Fail
204         205         Fail
205         206         Fail
206         207         Fail
..          ...          ...
495         496         Pass
496         497         Fail
497         498         Fail
498         499         Pass
499         500         Fail

[298 rows x 2 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_13940\1090816733.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comm_students_df['pass_or_fail'] = comm_students_df.apply(check_pass_fail, axis=1)

In [17]:
comm_students_df['pass_or_fail'].value_counts()

pass_or_fail
Fail    206
Pass     92
Name: count, dtype: int64

In [18]:
# Apply the function to determine pass/fail status
comm_students_df['pass_or_fail'] = comm_students_df.apply(check_pass_fail, axis=1)

# Now, merge the updated arts students back into the original DataFrame
df = pd.merge(df, comm_students_df[['student_id', 'pass_or_fail']], on='student_id', how='left', suffixes=('', '_new'))

# Update the original pass_or_fail column with the new values
df['pass_or_fail'] = df['pass_or_fail_new'].combine_first(df['pass_or_fail'])

# Drop the temporary new column
df.drop(columns=['pass_or_fail_new'], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_13940\189482472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comm_students_df['pass_or_fail'] = comm_students_df.apply(check_pass_fail, axis=1)

In [19]:
df.sample()

,result_id,student_id,exam_type,department,subject_scores,pass_or_fail
57,NaN,58,WASSCE,Science,"{'Mathematics': 43, 'English': 72, 'Physics': ...",Fail

In [20]:
df.to_csv('exam_result2.csv')

In [29]:
import pandas as pd
import random
import json

# Define compulsory and elective subjects for Arts and Commercial departments
subjects = {
    "Arts": {
        "compulsory": ["English", "Literature in English", "History", "Government", "Religious Studies"],
        "electives": ["Mathematics", "Economics", "Commerce", "Fine Arts",
                      "Marketing", "Biology", "Agricultural Science"]
    },
    "Commercial": {
        "compulsory": ["Financial Accounting", "Commerce", "Economics", "English Language", "Mathematics"],
        "electives": ["Geography", "Government", "Agricultural Science", "Biology",
                      "Yoruba Language", "Further Mathematics",
                      "Civic Education"]
    }
}

# Function to prevent students from failing a subject 3 consecutive times
def prevent_consecutive_fails_correct(records, department):
    # Parse the subject_scores from JSON-like structure
    subject_scores = json.loads(records)
    compulsory_subjects = subjects[department]["compulsory"]

    # Check each compulsory subject across terms
    for subject in compulsory_subjects:
        fail_streak = 0
        for term in subject_scores:
            if subject in subject_scores[term]:
                score = subject_scores[term][subject]
                if score < 50:  # Considering a score below 50 as a fail
                    fail_streak += 1
                else:
                    fail_streak = 0

                # If a student has failed the subject for 2 consecutive terms, adjust the score in the third term
                if fail_streak == 3:
                    subject_scores[term][subject] = random.randint(60, 80)  # Ensure the score is at least 50 (pass)
                    fail_streak -= 1 # Reset the streak

    return json.dumps(subject_scores)



# Reading the exam_result2 and academic_records CSV files
exam_results = pd.read_csv('exam_result2.csv')
academic_records = pd.read_csv('academic_records.csv')

# Apply the prevention of consecutive fails for compulsory subjects
for index, row in academic_records.iterrows():
    student_id = row['student_id']
    department = row['department']

    if department in ['Commercial', 'Arts']:
        updated_subject_scores = prevent_consecutive_fails_correct(row['subject_scores'], department)
        academic_records.at[index, 'subject_scores'] = updated_subject_scores

# Save the updated academic_records.csv with correct pass mark
updated_academic_records_path_correct = 'updated_academic_records_correct_passmark.csv'  # Update the file path as needed
academic_records.to_csv(updated_academic_records_path_correct, index=False)

print(f"Updated academic records saved to {updated_academic_records_path_correct}")

Updated academic records saved to updated_academic_records_correct_passmark.csv

In [82]:
import pandas as pd
import json

# Load the provided academic_records CSV file
# academic_records_path = 'path_to_academic_records.csv'  # Update the file path
academic_records = pd.read_csv('updated_academic_records1.csv')

# Define a function to standardize the subject names and ensure "Religion Studies" is included
def correct_religious_studies(records):
    # Parse the subject_scores from JSON-like structure
    subject_scores = json.loads(records)
    
    # Track whether the student has "Religion Studies"
    has_religion_studies = False
    
    # Iterate over terms and subjects
    for term in subject_scores:
        term_subjects = subject_scores[term]
        # Rename "Christian Religious Studies" to "Religion Studies"
        if "Yoruba Language" in term_subjects:
            term_subjects["Yoruba"] = term_subjects.pop("Yoruba Language")
        # Check if "Religion Studies" is already present
        if "Yoruba " in term_subjects:
            has_religion_studies = True
    
    # If "Religion Studies" is missing, add it with a default value
    if not has_religion_studies:
        for term in subject_scores:
            subject_scores[term]["Data Processing"] = random.randint(50, 70)  # Assign a default score
    
    return json.dumps(subject_scores)

# Apply the corrections for each student
for index, row in academic_records.iterrows():
    updated_subject_scores = correct_religious_studies(row['subject_scores'])
    academic_records.at[index, 'subject_scores'] = updated_subject_scores

# Save the updated academic_records.csv
updated_academic_records_path_religion = 'updated_academic_records1.csv'  # Update file path as needed
academic_records.to_csv(updated_academic_records_path_religion, index=False)

print(f"Updated academic records saved to {updated_academic_records_path_religion}")

Updated academic records saved to updated_academic_records1.csv

In [31]:
exam_results = pd.read_csv('exam_result2.csv')
academic_records = pd.read_csv('updated_academic_records.csv')

In [56]:
import random
import json

# Helper function to assign academic record scores while ensuring non-consecutive fails
def assign_academic_record(category, subject_scores, compulsory_subjects, no_consecutive_fails=False):
    for term in subject_scores:
        term_subjects = subject_scores[term]
        
        if category == 'good':
            # Good students have scores between 60 and 100, with no fails
            for subject in term_subjects:
                term_subjects[subject] = random.randint(60, 100)
        
        elif category == 'average':
            # Average students have scores between 45 and 75, with 2 fails (non-consecutive if specified)
            for subject in term_subjects:
                term_subjects[subject] = random.randint(45, 75)
            
            fails = random.sample(compulsory_subjects, k=2)
            # Spread out fails across terms for non-consecutive condition
            if no_consecutive_fails:
                for term_index, fail_subject in enumerate(fails):
                    current_term = list(subject_scores.keys())[term_index]
                    subject_scores[current_term][fail_subject] = random.randint(30, 49)
            else:
                for fail_subject in fails:
                    term_subjects[fail_subject] = random.randint(30, 49)  # Fail 2 compulsory subjects
            
        elif category == 'poor':
            # Poor students have scores between 40 and 60, with 4 fails (non-consecutive if specified)
            for subject in term_subjects:
                term_subjects[subject] = random.randint(40, 60)
            
            fails = random.sample(compulsory_subjects, k=4)
            # Spread out fails across terms for non-consecutive condition
            if no_consecutive_fails:
                for term_index, fail_subject in enumerate(fails):
                    current_term = list(subject_scores.keys())[term_index % len(subject_scores)]
                    subject_scores[current_term][fail_subject] = random.randint(30, 49)
            else:
                for fail_subject in fails:
                    term_subjects[fail_subject] = random.randint(30, 49)  # Fail 4 compulsory subjects
                
    return subject_scores

# Process the academic records based on the pass_or_fail status in exam_results
for index, row in academic_records.iterrows():
    student_id = row['student_id']
    department = row['department']
    
    if department in ['Commercial', 'Arts']:
        # Get student's exam result
        exam_result = exam_results[exam_results['student_id'] == student_id]
        
        if not exam_result.empty:
            pass_or_fail = exam_result.iloc[0]['pass_or_fail']
            subject_scores = json.loads(row['subject_scores'])
            compulsory_subjects = subjects[department]['compulsory']
            
            if pass_or_fail == 'Pass':
                # Split students who passed into 60% good, 20% average, 20% poor
                category = random.choices(['good', 'average', 'poor'], weights=[80, 10, 10], k=1)[0]
                no_consecutive_fails = True if category in ['average', 'poor'] else False
            else:
                # Split students who failed into 60% poor, 30% average, 10% good
                category = random.choices(['poor', 'average', 'good'], weights=[70, 20, 10], k=1)[0]
                no_consecutive_fails = False  # Fails can be consecutive for failed students
            
            # Assign academic records based on the selected category
            updated_subject_scores = assign_academic_record(category, subject_scores, compulsory_subjects, no_consecutive_fails)
            academic_records.at[index, 'subject_scores'] = json.dumps(updated_subject_scores)

# Save the updated academic records with corrected Arts and Commercial students
academic_records.to_csv('updated_academic_records1.csv', index=False)

KeyError: 'pass_or_fail'

In [35]:
import pandas as pd
import random

# Load the data
exam_results = pd.read_csv('exam_result2.csv')
parents = pd.read_csv('parent_involvement.csv')

# Function to assign parent data based on the pass/fail status
def assign_parent_data(pass_or_fail):
    parent_data = {}
    
    if pass_or_fail == 'Pass':
        # Assign marital status for students who passed
        marital_status = random.choices(['Married', 'Divorced'], weights=[70, 30], k=1)[0]
        parent_data['marital_status'] = marital_status
        
        if marital_status == 'Married':
            # Assign education level for married parents
            parent_data['Educational Level'] = random.choices(['Tertiary', 'Secondary', 'None'], weights=[60, 30, 10], k=1)[0]
            # Assign attendance
            parent_data['Attendance'] = random.choices([True, False], weights=[70, 30], k=1)[0]
            # Assign academic activity
            parent_data['Academic performance'] = random.choices([True, False], weights=[50, 50], k=1)[0]
        
        elif marital_status == 'Divorced':
            # Assign education level for divorced parents
            parent_data['Educational Level'] = random.choices(['Tertiary', 'Primary', 'Secondary', 'None'], weights=[50, 20, 20, 10], k=1)[0]
            # Assign attendance
            parent_data['Attendance'] = random.choices([True, False], weights=[50, 50], k=1)[0]
            # Assign academic activity
            parent_data['Academic performance'] = random.choices([True, False], weights=[30, 70], k=1)[0]
    
    else:
        # Assign marital status for students who failed
        marital_status = random.choices(['Married', 'Divorced'], weights=[37, 63], k=1)[0]
        parent_data['marital_status'] = marital_status
        
        if marital_status == 'Married':
            # Assign education level for married parents
            parent_data['Educational Level'] = random.choices(['Tertiary', 'Primary', 'Secondary'], weights=[35, 45, 20], k=1)[0]
            # Assign attendance
            parent_data['Attendance'] = random.choices([True, False], weights=[90, 10], k=1)[0]
            # Assign academic activity
            parent_data['Academic performance'] = random.choices([True, False], weights=[20, 80], k=1)[0]
        
        elif marital_status == 'Divorced':
            # Assign education level for divorced parents
            parent_data['Educational Level'] = random.choices(['Tertiary', 'Secondary', 'None'], weights=[40, 40, 20], k=1)[0]
            # Assign attendance
            parent_data['Attendance'] = random.choices([True, False], weights=[35, 65], k=1)[0]
            # Assign academic activity
            parent_data['Academic performance'] = random.choices([True, False], weights=[50, 50], k=1)[0]
    
    return parent_data

# Update parent data based on student exam results
for index, row in parents.iterrows():
    student_id = row['student_id']
    
    # Get pass or fail result from exam_results.csv
    exam_result = exam_results[exam_results['student_id'] == student_id]
    
    if not exam_result.empty:
        pass_or_fail = exam_result.iloc[0]['pass_or_fail']
        updated_data = assign_parent_data(pass_or_fail)
        
        # Update the parent data in the parents DataFrame
        parents.at[index, 'marital_status'] = updated_data['marital_status']
        parents.at[index, 'Educational Level'] = updated_data['Educational Level']
        parents.at[index, 'Attendance'] = updated_data['Attendance']
        parents.at[index, 'Academic performance'] = updated_data['Academic performance']

# Save the updated parent data to a new CSV file
parents.to_csv('updated_parent_data.csv', index=False)

In [62]:
import pandas as pd
import json
from collections import defaultdict

# Load the CSV file
exam_results = pd.read_csv("updated_academic_records1.csv")

# Function to extract scores and identify failures per subject
def count_failures_per_subject(exam_results):
    fail_counts = defaultdict(int)

    for index, row in exam_results.iterrows():
        subject_scores = json.loads(row['subject_scores'])  # Convert JSON-like string to dict

        for term, subjects in subject_scores.items():
            for subject, score in subjects.items():
                if score < 50:  # Assuming 50 is the pass mark
                    fail_counts[subject] += 1

    return fail_counts

# Get the count of failures per subject
fail_counts = count_failures_per_subject(exam_results)

# Sort subjects by failure rate
sorted_failures = sorted(fail_counts.items(), key=lambda x: x[1], reverse=True)

# Display the sorted failure counts
print("Subject Failures (sorted):", sorted_failures)

Subject Failures (sorted): [('Mathematics', 1487), ('Economics', 1376), ('Commerce', 1259), ('English Language', 1170), ('Financial Accounting', 1159), ('Government', 759), ('English', 662), ('Religion Studies', 518), ('Agricultural Science', 480), ('Biology', 478), ('History', 443), ('Fine Arts', 442), ('Literature in English', 439), ('Further Mathematics', 387), ('Civic Education', 363), ('Yoruba Language', 341), ('Geography', 299), ('Chemistry', 237), ('Physics', 235), ('Marketing', 158), ('Visual Art', 108), ('Fisheries', 101)]

In [72]:
import pandas as pd
import random

# Lists of first and last names
first_names = [
    "Adebayo", "Chidi", "Ngozi", "Fatima", "Emeka", "Olufunmi", "Tolu", 
    "Chinonso", "Ify", "Kehinde", "Ayomide", "Jibola", "Bola", "Chukwuemeka", 
    "Temitope", "Uche", "Amaka", "Damilola", "Aisha", "Micheal", "Patience",
    "Adeola", "Ifeoma", "Oluwaseun", "Funmilayo", "Tomiwa", "Kemi",
    "Tunde", "Chinyere", "Suleiman", "Adetola", "Ezinne", "Abdul", 
    "Osaretin", "Ireti", "Adewale", "Benedict", "Gbemi", "Yakubu", 
    "Oluwakemi", "Samuel", "Chisom", "Bolaji", "Taiwo", "Ada", "Musa", 
    "Femi", "Titi", "Abiodun", "Oluwadamilola", "Ibrahim", "Morenike",
    "Bimpe", "Titilope", "Ikechukwu", "Kolawole", "Chukwuma", "Chinyelu", 
    "Ijeoma", "Segun", "Olumide", "Abayomi", "Rukayat", "Fausat", 
    "Zainab", "Modupe", "Anuoluwapo", "Omotola", "Babatunde", "Kunle", 
    "Aisha", "Solomon", "Chidera", "Oluwakayode", "Osas", "Omowumi", 
    "Umar", "Oluwaseyi", "Folake", "Efe", "Omolabake", "Sola", 
    "Eunice", "Tope", "Ebuka", "Yetunde", "Onyeka", "Ademola", 
    "Chisara", "Ismail", "Deborah", "Omolara", "Lateef", "Mohammed", 
    "Adunola", "Raphael", "Dayo", "Obinna", "Kudirat", "Opeyemi"
]

last_names = [
    "Okeke", "Bello", "Ogunleye", "Abubakar", "Aliyu", "Chukwu", "Oni", 
    "Adeshina", "Fashola", "Nwankwo", "Adebisi", "Jolaoso", "Ibrahim", 
    "Oloyede", "Adeyemi", "Olawale", "Afolabi", "Kehinde", "Ogunyemi", 
    "Eze", "Nnamdi", "Ogunbiyi", "Okafor", "Sule", "Ogedengbe", "Onwuka", 
    "Adeniran", "Balogun", "Edeh", "Okoro", "Umar", "Akintola", "Adigun", 
    "Folarin", "Ibekwe", "Onyema", "Ogundipe", "Olaniyan", "Obi", 
    "Awolowo", "Alabi", "Ajayi", "Okoroafor", "Odeyemi", "Olufemi", 
    "Ayoade", "Onyeka", "Agbaje", "Odum", "Makinde", "Anyanwu", 
    "Omotosho", "Salami", "Ekwueme", "Sanni", "Fagbemi", "Obafemi", 
    "Ajibade", "Olumide", "Giwa", "Akindele", "Azeez", "Obiora", 
    "Bolarinwa", "Agu", "Ilesanmi", "Obasuyi", "Oguntade", "Lawal", 
    "Iroegbu", "Ojomu", "Faleye", "Adebayo", "Nwachukwu", "Owolabi", 
    "Agboola", "Akande", "Adekunle", "Olaitan", "Awojobi", "Aminu", 
    "Ojukwu", "Mogaji", "Onabanjo", "Suleiman", "Alade", "Okon", 
    "Adewumi", "Ajose", "Omole", "Aina", "Adamu", "Nwaneri", 
    "Olajide", "Osagie", "Agunbiade", "Onogwu", "Folarin", "Shonibare", 
    "Banwo", "Olorunfemi", "Ojo", "Akinola", "Osakwe", "Olapade"
]

# Sample subjects categorized into Science, Arts, and Commercial
subjects = {
    'Science': ['Mathematics', 'Biology', 'Physics', 'Chemistry', 'Agricultural Science', 'Geography', 'Further Mathematics', 'Civic Education', 'Data Processing'],
    'Arts': ['Literature in English', 'History', 'Fine Arts', 'Civic Education', 'Religion Studies', 'Government', 'Yoruba Language'],
    'Commercial': ['Economics', 'Commerce', 'Financial Accounting','Fisheries', 'Business Studies', 'Data Processing', 'Marketing','Visual Art']
}

# High failure subjects based on your previous results
high_failure_subjects = ['Mathematics', 'Economics', 'Commerce', 'English Language']

# Function to generate random years of experience
def generate_years_of_experience(subject):
    if subject in high_failure_subjects:
        return random.choice([1, 2, 3, 4])  # Less experience for high failure subjects
    else:
        return random.choice([3, 5, 10, 12, 15, 18])  # More varied experience for others

# Create a list for storing teacher data
teachers = []
teacher_id = 1

# Assign teachers to each subject
for category, subs in subjects.items():
    for subject in subs:
        num_teachers = random.randint(2, 4)  # Randomly select 2 to 4 teachers
        for _ in range(num_teachers):
            first_name = random.choice(first_names)
            last_name = random.choice(last_names)
            name = f"{first_name} {last_name}"  # Combining first and last names
            years_of_experience = generate_years_of_experience(subject)
            teachers.append([teacher_id, name, subject, years_of_experience])
            teacher_id += 1

# Create a DataFrame and save it to CSV
teachers_df = pd.DataFrame(teachers, columns=['teacher_id', 'name', 'subject_specialization', 'years_of_experience'])
teachers_df.to_csv('teachers.csv', index=False)

print(teachers_df.head())  # Display the first few rows

   teacher_id               name subject_specialization  years_of_experience
0           1   Temitope Odeyemi            Mathematics                    2
1           2  Anuoluwapo Chukwu            Mathematics                    2
2           3      Omolara Lawal            Mathematics                    2
3           4     Modupe Fagbemi                Biology                   18
4           5       Musa Olumide                Biology                   12

In [73]:
import pandas as pd

# Load the CSV file
file_path = 'exam_result2.csv'  # Replace with the actual path to your file
exam_results_df = pd.read_csv(file_path)

# Check if 'result_id' is empty
if 'result_id' in exam_results_df.columns:
    # Generate a unique ID for each row starting from 1
    exam_results_df['result_id'] = range(1, len(exam_results_df) + 1)

    # Save the updated DataFrame back to CSV
    exam_results_df.to_csv('exam_result2.csv', index=False)
    print("Updated 'result_id' column and saved to exam_result2_updated.csv.")
else:
    print("'result_id' column not found in the file.")

Updated 'result_id' column and saved to exam_result2_updated.csv.

In [76]:
import pandas as pd

# Load the existing academic_records DataFrame
academic_records = pd.read_csv('updated_academic_records1.csv')

# Create a new primary key column
academic_records['record_id'] = range(1, len(academic_records) + 1)

# Reorder the columns if needed
academic_records = academic_records[['record_id', 'student_id', 'department', 'subject_scores', 'attendance_rate']]

# Save the updated DataFrame back to CSV
academic_records.to_csv('updated_academic_records1.csv', index=False)

In [79]:
import pandas as pd
import ast  # This is for safely evaluating the dictionary string


file_path = 'exam_result2_updated.csv'  # Replace with your CSV file path
data = pd.read_csv(file_path)

# Step 2: Clean and ensure JSON formatting in subject_scores
def format_json_scores(scores):
    # Replace single quotes with double quotes and strip spaces
    clean_scores = scores.replace("'", '"').replace(" ", "")
    try:
        return json.loads(clean_scores)  # Load into a JSON object
    except json.JSONDecodeError as e:
        print(f"Error decoding JSON: {e} | Scores: {clean_scores}")
        return None

# Apply the JSON formatting function
data['subject_scores'] = data['subject_scores'].apply(format_json_scores)

data.to_csv('exam_result2_updated.csv')